@model DBIT_Inventory.ViewModel.UoMViewModel
@{
    var mode = ViewBag.Mode ?? "Create";
    ViewBag.Title = @mode + " - Unit Of Measurement";
}


<section class="content">
    @using (Html.BeginForm("Editor", "UoM", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Is_Deleted)
        @Html.HiddenFor(model => model.UoM_Id)
        @Html.HiddenFor(model => model.EncodedId)
        <input type="hidden" name="mode" value="@mode" />
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="form-group row">
                                <div class="card-body">
                                    <div class="form-group row">
                                        <label for="UoM_Code" class="col-sm-2 col-form-label form-control-label">UoM Code</label>
                                        <div class="col-sm-3">

                                            @if (mode == "Create")
                                            {
                                                @Html.TextBoxFor(model => model.UoM_Code, new { @class = "form-control", @placeholder = "UoM Code", required = "required" })
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(model => model.UoM_Code, new { @class = "form-control", @placeholder = "UoM Code", required = "required", @readonly = "readonly" })

                                            }@Html.ValidationMessageFor(model => model.UoM_Code, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="UoM_Description" class="col-sm-2 col-form-label form-control-label">UoM Description</label>
                                        <div class="col-sm-3">
                                            @if (mode == "View" || mode == "Delete")
                                            {

                                                @Html.TextBoxFor(model => model.UoM_Description, new { @class = "form-control", @placeholder = "UoM Description", required = "required", @readonly = "readonly" })
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(model => model.UoM_Description, new { @class = "form-control", @placeholder = "UoM Description", required = "required" })
                                            }
                                            @Html.ValidationMessageFor(model => model.UoM_Description, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
        <!-- /.card -->
        <div class="row">
            <div class="col-12 mb-4">
                <div class="button-container">
                    <div style="display: flex; justify-content: flex-start; gap:10px; margin-top: 15px;">
                        <div>
                            <a href="@Url.Action("Index", "UoM")" class="btn btn-secondary">Cancel</a>
                        </div>
                        @if (mode == "Create")
                        {
                            <input type="submit" value="Create" class="btn btn-success">
                        }
                        else if (mode == "Edit")
                        {
                            <input type="submit" value="Save" class="btn btn-success">
                        }
                        else if (mode == "Delete")
                        {
                            <input type="submit" value="Delete" class="btn btn-danger">

                        }
                    </div>
                </div>
            </div>
        </div>
    }
</section>
<script>
        $(document).ready(function () {
            $("form").submit(function (e) {
                var UoMCode = $("#UoM_Code").val();
                var UoMDesc = $("#UoM_Description").val();
                var mode = $("input[name='mode']").val();

                console.log("UoM Code: " + UoMCode);
                console.log("UoM Description: " + UoMDesc);

                if (!UoMCode || !UoMDesc) {
                    alert("Please fill all required field");
                    e.preventDefault();
                    return false;
                }

                if (mode == "Delete") {
                    if (!confirm("Are you sure want to delete this Unit Of Measurement?")) {
                        e.preventDefault();
                        return false;
                    }
                }
                return true;
            });

    if ('@TempData["SuccessMessage"]' != '') {
    toastr.success('@TempData["SuccessMessage"]');
    }
    if ('@TempData["ErrorMessage"]' != '') {
    toastr.error('@TempData["ErrorMessage"]');
    }
    });
</script>