
@using IT_Inventory.ViewModel
@model IEnumerable<global::IT_Inventory.ViewModel.MaterialCodeViewModel>

@{

    ViewBag.Title = "Material Code";


}

            <!-- Main content -->
            <section class="content">
                <!-- Default box -->
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex align-item-center">
                            <a class="btn btn-primary btn-sm" href="@Url.Action("Editor", "MaterialCode", new { mode = "Create" })">
                                <i class="fa fa-plus"></i>
                                Create
                            </a>
                            <div class="ml-auto d-flex align-item-center">
                                <div class="input-group input-group-sm mr-2" style="width: 150px;">
                                    <input type="text" id="tableSearch" class="form-control" placeholder="Search Material" />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fas fa-search"></i></span>
                                    </div>
                                </div>   
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <table id="materialCodeTable" class="table table-striped projects">
                            <thead>
                                <tr>
                                    <th style="width: 15%">
                                        Material Code
                                    </th>
                                    <th style="width: 20%">
                                        Material Description
                                    </th>
                                    <th style="width: 10%">
                                        Material Group
                                    </th>
                                    <th style="width: 20%; text-align: center">
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Material_Code1</td>
                                        <td>@item.Material_Description</td>
                                        <td>@item.Material_Group</td>
                                       
                                        <td>
                                            <div class="project-actions text-center">
                                                <a href="@Url.Action("Editor", "MaterialCode", new { id = item.EncodedId, mode = "View" })" class="btn btn-info btn-sm">
                                                    <i class="fa fa-eye"></i> View
                                                </a>
                                                <a href="@Url.Action("Editor", "MaterialCode",  new { id = item.EncodedId , mode = "Edit" })" class="btn btn-primary btn-sm">
                                                    <i class="fa fa-edit"></i> Edit
                                                </a>
                                                <a href="@Url.Action("Editor", "MaterialCode", new { id =item.EncodedId, mode = "Delete" })" class="btn btn-warning btn-sm">
                                                    <i class="fa fa-trash"></i> Delete
                                                </a>

                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th> Material Code </th>
                                    <th> Material Description </th>
                                    <th> Material Group </th>
                                    
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </section>

            <script>
        $(function () {
            $('#materialCodeTable tfoot th').each(function (i) {
                var title = $('#materialCodeTable thead th').eq($(this).index()).text().trim();
                if (i < 3) {
                    $(this).html('<input type="text" class="form-control form-control-sm" placeholder="Search ' + title + '" />');
                }
            });

            localStorage.removeItem('DataTables_materialCodeTable_' + window.location.pathname);
            var table = $('#materialCodeTable').DataTable({
                "responsive": true,
                "lengthChange": true,
                "lengthMenu": [[10, 25, 50, 100, 500, 1000, -1], [10, 25, 50, 100, 500, 1000, "All"]], 
                "pageLength": 10,
                "autoWidth": false,
                "paging": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "dom": 'lBrtip',
                "stateSave": false
            });

            table.columns().every(function (i) {
                var that = this;
                if (i < 3) {
                    $('input', this.footer()).on('keyup change', function () {
                        if (that.search() !== this.value) {
                            that.search(this.value).draw();
                        }
                    });
                }
            });

            $("#tableSearch").on("keyup", function () {
                table.search(this.value).draw();
            });

        @if (TempData["SuccessMassage"]!= null)
        {
            <text>
            toastr.success('@TempData["SuccessMassage"]');
            </text>
        }
        @if (TempData["ErrorMassage"]!= null)
        {
            <text>
            toastr.error('@TempData["ErrorMassage"]');
            </text>
        }
    });
            </script>

