@model global::IT_Inventory.Models.Departement
@{
    var mode = ViewBag.Mode ?? "Create";
    ViewBag.Title = @mode + " - Departement";
}

    <section class="content">
        @using (Html.BeginForm("Editor", "Departement", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Is_Deleted)
            <input type="hidden" name="mode" value="@mode" />
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="row justify-content-center">
                            <div class="col-md-8">
                                <div class="form-group row">
                                    <div class="card-body">
                                        <div class="form-group row">
                                            <label for="Departement_Code" class="col-sm-2 col-form-label form-control-label">Departement Code</label>
                                            <div class="col-sm-2">

                                                @if (mode == "Create")
                                                {
                                                    @Html.TextBoxFor(model => model.Departement_Code, new { @class = "form-control", @placeholder = "Departement Code", required = "required" })
                                                }
                                                else
                                                {
                                                    @Html.TextBoxFor(model => model.Departement_Code, new { @class = "form-control", @placeholder = "Departement Code", required = "required", @readonly = "readonly" })

                                                }@Html.ValidationMessageFor(model => model.Departement_Code, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="Role" class="col-sm-2 col-form-label form-control-label">Role</label>
                                            <div class="col-sm-2">
                                                @if (mode == "View" || mode == "Delete")
                                                {
                                                    @Html.TextBoxFor(model => model.Role, new { @class = "form-control", @placeholder = "Role", required = "required", @readonly = "readonly" })
                                                }
                                                else
                                                {
                                                    @Html.TextBoxFor(model => model.Role, new { @class = "form-control", @placeholder = "Role", required = "required" })
                                                }
                                                @Html.ValidationMessageFor(model => model.Role, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
            <!-- /.card -->
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="button-container">
                        <div style="display: flex; justify-content: flex-start; gap:10px; margin-top: 15px;">
                            <div>
                                <a href="@Url.Action("Index", "Departement")" class="btn btn-secondary">Cancel</a>
                            </div>
                            @if (mode == "Create")
                            {
                                <input type="submit" value="Create" class="btn btn-success">
                            }
                            else if (mode == "Edit")
                            {
                                <input type="submit" value="Save" class="btn btn-success">
                            }
                            else if (mode == "Delete")
                            {
                                <input type="submit" value="Delete" class="btn btn-danger">

                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </section>

<script>
        $(document).ready(function () {
            $("form").submit(function (e) {
                var deptCode = $("#Departement_Code").val();
                var role = $("#Role").val();
                var mode = $("input[name='mode']").val();


                if (!deptCode || !role) {
                    alert("Please fill all required field");
                    e.preventDefault();
                    return false;
                }

                if (mode == "Delete") {
                    if (!confirm("Are you sure want to delete this Departement?")) {
                        e.preventDefault();
                        return false;
                    }
                }
            });

    if ('@TempData["SuccessMessage"]' != '') {
    toastr.success('@TempData["SuccessMessage"]');
    }
    if ('@TempData["ErrorMessage"]' != '') {
    toastr.error('@TempData["ErrorMessage"]');
    }
    });
</script>
