@model IEnumerable<global::IT_Inventory.Models.Location>
@{
    ViewBag.Title = "Location List";
}

<section class="content">
    <div class="card">
        <div class="card-header">
            <div class="d-flex align-item-center">
                <a class="btn btn-primary btn-sm" href="@Url.Action("Editor", "Location", new { mode = "Create" })">
                    <i class="fa fa-plus"></i>
                    Create
                </a>
                <div class="ml-auto d-flex align-item-center">
                    <div class="input-group input-group-sm mr-2" style="width: 150px;">
                        <input type="text" id="tableSearch" class="form-control" placeholder="Search.." />
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-search"></i></span>
                        </div>
                    </div>
                    z2<div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body p-0">
            <table class="table table-striped projects">
                <thead>
                    <tr>
                        <th style="width: 15%">
                            Location Code
                        </th>
                        <th style="width: 20%">
                            Location Name
                        </th>
                        <th style="width: 25%">
                            Location Description
                        </th>
                        <th style="width: 15%; text-align: center">
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Location_Code</td>
                            <td>@item.Location_Name</td>
                            <td>@item.Location_Description</td>

                            <td>
                                <div class="project-actions text-center">
                                    <a href="@Url.Action("Editor", "Location", new { id = item.Location_Code, mode = "View" })" class="btn btn-info btn-sm">
                                        <i class="fa fa-eye"></i> View
                                    </a>
                                    <a href="@Url.Action("Editor", "Location",  new { id = item.Location_Code, mode = "Edit" })" class="btn btn-primary btn-sm">
                                        <i class="fa fa-edit"></i> Edit
                                    </a>
                                    <a href="@Url.Action("Editor", "Location", new { id =item.Location_Code, mode = "Delete" })" class="btn btn-warning btn-sm">
                                        <i class="fa fa-trash"></i> Delete
                                    </a>

                                </div>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</section>



<script>
        $(function () {
            var table = $('.table-striped').DataTable({
                "responsive": true,
                "lengthChange": false,
                "autoWidth": false,
                "paging": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "dom": "<'row'<'col-sm-12'tr>><'row'<'col-sm-5'i><'col-sm-7'p>>"
            });

                    $("#tableSearch").on("keyup", function () {
                        table.search(this.value).draw();
                    });
                    @if (TempData["SuccessMassage"]!= null)
{
                        <text>
                    toastr.success('@TempData["SuccessMassage"]');
                            </text>
}
                            @if (TempData["ErrorMassage"]!= null)
{
                    <text>
                    toastr.error('@TempData["ErrorMassage"]');
                            </text>
}
                        });
</script>
