
@{
    ViewBag.title = "Company List";

}

    <section class="content">
        <div class="card">
            <div class="card-header">
                <div class="d-flex align-item-center">
                    <a class="btn btn-primary btn-sm" href="@Url.Action("Editor", "Company", new { mode = "Create" })">
                        <i class="fa fa-plus"></i>
                        Create
                    </a>
                    <div class="ml-auto d-flex align-item-center">
                        <div class="input-group input-group-sm mr-2" style="width: 150px;">
                            <input type="text" id="tableSearch" class="form-control" placeholder="Search..." />
                            <div class="input-group-append">
                            </div>
                        </div>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body p-0">
                <table id="companyTable" class="table table-striped projects">
                    <thead>
                        <tr>
                            <th style="width: 15%">
                                Company Code
                            </th>
                            <th style="width: 20%">
                                Company Name
                            </th>
                            <th style="width: 15%; text-align: center">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Company_Code</td>
                                <td>@item.Company_Name</td>
                                <td>
                                    <div class="project-actions text-center">
                                        <a href="@Url.Action("Editor", "Company", new { id = item.Company_Code, mode = "View" })" class="btn btn-info btn-sm">
                                            <i class="fa fa-eye"></i> View
                                        </a>
                                        <a href="@Url.Action("Editor", "Company",  new { id = item.Company_Code, mode = "Edit" })" class="btn btn-primary btn-sm">
                                            <i class="fa fa-edit"></i> Edit
                                        </a>
                                        <a href="@Url.Action("Editor", "Company", new { id =item.Company_Code, mode = "Delete" })" class="btn btn-warning btn-sm">
                                            <i class="fa fa-trash"></i> Delete
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th> Company Code </th>
                            <th> Company Name </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </section>



<script>
        $(function () {
            $('#companyTable tfoot th').each(function () {
                var i = $(this).index();
                
                    var title = $(this).text().trim();
                    $(this).html('<input type="text" placeholder="Search ' + title + '" />');
                
            });
            var table = $('#companyTable').DataTable({
                "responsive": true,
                "lengthChange": true,
                "lengthMenu": [[10, 25, 50, 100, 500, 1000, -1], [10, 25, 50, 100, 500, 1000, "All"]],
                "pageLength": 10,
                "autoWidth": false,
                "paging": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "dom": 'lBrtip',
                "stateSave": false
            });

            table.columns().every(function (i) {
                var that = this;
                if (i < 2) {
                    $('input', this.footer()).on('keyup change', function () {
                        if (that.search() !== this.value) {
                            that.search(this.value).draw();
                        }
                    });
                }
            });

            $("#tableSearch").on("keyup", function () {
                table.search(this.value).draw();
            });

                    @if (TempData["SuccessMassage"]!= null)
{
                        <text>
                    toastr.success('@TempData["SuccessMassage"]');
                            </text>
}
                            @if (TempData["ErrorMassage"]!= null)
{
                    <text>
                    toastr.error('@TempData["ErrorMassage"]');
                            </text>
}

                        });
</script>
