@using IT_Inventory.Models
@model global::IT_Inventory.Models.Users

@{
    ViewBag.Title = "User Management";
    Layout = null;

    //Operation
    var mode = ViewBag.Mode ?? "Create";
    var userId = Request.QueryString["id"] ?? "0";

    var db = new IT_Inventory();
    var cities = db.City.ToList();
    var departements = db.Departement.ToList();
    var locations = db.Location.ToList();
}

<!DOCTYPE html>


<html lang="en" style="height: auto">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>
        @(mode) User
    </title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&amp;display=fallback">
    <!-- Font Awesome -->
    @Styles.Render("~/Content/Theme/AdminLTE/plugins/fontawesome-free/css/all.min.css")
    <!-- icheck bootstrap -->
    @Styles.Render("~/Content/Theme/AdminLTE/plugins/icheck-bootstrap/icheck-bootstrap.min.css")
    <!-- Theme style -->
    @Styles.Render("~/Content/Theme/AdminLTE/dist/css/adminlte.min.css")
    <style>
        .card-primary {
            margin: 0 auto;
            max-width: auto
        }

        .action-button {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            width: 100%;
        }

            .action-button .btn-danger,
            .action-button .btn-success {
                margin-left: auto;
            }

        .content .row {
            display: flex;
            justify-content: center;
        }

        .col-md-6 {
            width: 100%;
        }

        .action-button .btn-secondary {
            margin-right: 10px;
        }
    </style>
</head>
<body class="sidebar-mini" style="height: auto;">
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="../../index3.html" class="nav-link">Home</a>
                </li>
            </ul>

            <!-- Right navbar links -->


        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="../../index3.html" class="brand-link">
                <img src="../../dist/img/AdminLTELogo.png" alt="" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">IT_Inventory</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="../../dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">Alexander Pierce</a>
                    </div>
                </div>

                <!-- SidebarSearch Form -->
                <div class="form-inline">
                    <div class="input-group" data-widget="sidebar-search">
                        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-sidebar">
                                <i class="fas fa-search fa-fw"></i>
                            </button>
                        </div>
                    </div><div class="sidebar-search-results"><div class="list-group"><a href="#" class="list-group-item"><div class="search-title"><strong class="text-light"></strong>N<strong class="text-light"></strong>o<strong class="text-light"></strong> <strong class="text-light"></strong>e<strong class="text-light"></strong>l<strong class="text-light"></strong>e<strong class="text-light"></strong>m<strong class="text-light"></strong>e<strong class="text-light"></strong>n<strong class="text-light"></strong>t<strong class="text-light"></strong> <strong class="text-light"></strong>f<strong class="text-light"></strong>o<strong class="text-light"></strong>u<strong class="text-light"></strong>n<strong class="text-light"></strong>d<strong class="text-light"></strong>!<strong class="text-light"></strong></div><div class="search-path"></div></a></div></div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Dashboard
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="../../index.html" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>User</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="../../index2.html" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Material Code</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="../../index3.html" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Material Group</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" style="min-height: 1603.65px;">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>@(mode) User</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                                <li class="breadcrumb-item"><a href="@Url.Action("Index", "DataUser")">Users</a></li>
                                <li class="breadcrumb-item active">@(mode) User</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                @using (Html.BeginForm("Editor", "DataUser", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="mode" value="@mode" />
                    <input type="hidden" name="User_Id" value="@Model.User_Id" />

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">General</h3>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-md-8">
                                        <div class="form-group row">
                                            <div class="card-body">
                                                <div class="form-group row">
                                                    <label for="Username" class="col-sm-3 col-form-label form-control-label">Username</label>
                                                    <div class="col-sm-9">

                                                        @if (mode == "Delete")
                                                        {
                                                            <input type="text" id="Username" name="Username" class="form-control" value="@Model.Username" readonly>
                                                        }
                                                        else if (mode == "Edit")
                                                        {
                                                            <input type="text" id="Username" name="Username" class="form-control" value="@Model.Username" readonly>
                                                        }
                                                        else
                                                        {
                                                            <input type="text" id="Username" name="Username" class="form-control" value="@Model.Username" required>
                                                        }
                                                    </div>
                                                </div>

                                                @if (Session["IsAdmin"] is bool IsAdmin && IsAdmin)
                                                {
                                                    <div class="form-group row">
                                                        <label for="IsAdmin" class="col-sm-3 col-form-label form-control-label">User Is Admin?</label>
                                                        <div class="col-sm-9">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" id="Is_Admin" name="Is_Admin" value="True" @(Model.Is_Admin == true ? "checked" : "") />
                                                            </div>
                                                        </div>
                                                    </div>


                                                }

                                                <div class="form-group row">
                                                    <label for="Password" class="col-sm-3 col-form-label form-control-label">Password</label>
                                                    <div class="col-sm-9">
                                                        <div class="input-group">
                                                            <input type="password" id="Password" name="Password" class="form-control" placeholder="@(mode == "Edit" ? "Change Password" : "Enter password")"
                                                                   @(mode == "Edit" ? "" : "required")>
                                                            @if (mode == "Edit")
                                                            {
                                                                <div class="input-group-append">
                                                                    <div class="input-group-text">
                                                                        <input type="checkbox" id="ChangePassword" name="ChangePassword" />
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>





                                                <div class="form-group row">
                                                    <label for="Departement" class="col-sm-3 col-form-label form-control-label">Departement</label>

                                                    <div class="col-sm-9">
                                                        <select id="Departement" name="Departement" class="form-control custom-select" required>
                                                            <option value="" disabled @(Model.Departement == null ? "Selected" : "")> Select Departement</option>
                                                            @foreach (var dept in departements)
                                                            {
                                                                <option value="@dept.Departement_Name " @(Model.Departement == dept.Departement_Name ? "Selected" : "")> @dept.Departement_Name</option>
                                                            }

                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="City" class="col-sm-3 col-form-label form-control-label">City</label>
                                                    <div class="col-sm-9">
                                                        <select id="City" name="City" class="form-control custom-select" required>
                                                            <option value="" disabled @(Model.City == null ? "Selected" : "")> Select City</option>
                                                            @foreach (var city in cities)
                                                            {
                                                                <option value="@city.City_Name" @(Model.City == city.City_Name ? "Selected" : "")> @city.City_Name</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="Location" class="col-sm-3 col-form-label form-control-label">Location</label>
                                                    <div class="col-sm-9">
                                                        <select id="Location" name="Location" class="form-control custom-select" required>
                                                            <option value="" disabled @(Model.Location == null ? "Selected" : "")> Select Location</option>
                                                            @foreach (var loc in locations)
                                                            {
                                                                <option value="@loc.Location_Name" @(Model.Location == loc.Location_Name ? "Selected" : "")> @loc.Location_Name</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card -->
                    <!-- /.card-body -->
                    <!-- /.card -->
                    <div class="row">
                        <div class="col-12 mb-4">
                            <div class="button-container">
                                <div style="display: flex; justify-content: flex-start; gap:10px; margin-top: 15px;">
                                    <div>
                                        <a href="@Url.Action("Index", "DataUser")" class="btn btn-secondary">Cancel</a>
                                    </div>


                                    @if (mode == "Create")
                                    {
                                        <input type="submit" value="Create new User" class="btn btn-success ">
                                    }
                                    else if (mode == "Edit")
                                    {
                                        <input type="submit" value="Update User" class="btn btn-success ">
                                    }
                                    else if (mode == "Delete")
                                    {
                                        <input type="submit" value="Delete User" class="btn btn-danger">

                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                }
            </section>
            <!-- /.content -->
        </div>

        <!-- /.content-wrapper -->

        <footer class="main-footer">
            <div class="float-right d-none d-sm-block">

            </div>
            <strong>IT Inventory</strong>
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark" style="display: none;">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
        <div id="sidebar-overlay"></div>
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="@Url.Content("~/Content/Theme/AdminLTE/plugins/jquery/jquery.min.js")"></script>
    <!-- Bootstrap 4 -->
    <script src="@Url.Content("~/Content/Theme/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js")"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js?v=3.2.0"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../../dist/js/demo.js"></script>

    <script>
        $(document).ready(function () {
            var mode = $('input[name="mode"]').val();


            if (mode == "Edit") {
                $("#Password").prop("readonly", true);
                $("#Password").prop("disabled", false);
                $("#ChangePassword").prop("checked", false);
                $("#Username").prop("checked", false);

            }
            else if (mode == "Create") {
                $("#Password").prop("readonly", false);
                $("#Password").prop("disabled", false);
                $("#ChangePassword").hide();
                $(".input-group-append").hide();
            }
            else if (mode == "Delete" || mode == "View") {
                $("input:not([type='submit']), select").prop("readonly", true);
                $("select").attr("disabled", "disabled");
                $("#Is_Admin").prop("disabled", true);
            }

            if (mode == "Delete") {
                $("#Password").removeAttr("required");
            }

            $("#Is_Admin").change(function () {
                if ($(this).is(":checked")) {
                    $("#Is_Admin").val("true");
                }
                else {
                    $("#Is_Admin").val("false");
                }
            });

            if ($("#Is_Admin").val() == true) {
                $("#Is_Admin").prop("checked", true);
            } else {
                $("#Is_Admin").prop("checked", false);
            }

            $("#ChangePassword").change(function () {
                if ($(this).is(":checked")) {
                    $("#Password").prop("readonly", false);
                    $("#Password").prop("disabled", false);
                    $("#Password").focus();
                }
                else {
                    $("#Password").prop("readonly", true);
                    $("#Password").prop("disabled", true);

                    $("#Password").val("");
                }
            });

            $("#ShowPassword").change(function () {
                if ($(this).is(":checked")) {
                    $("#Password").attr("type", "text");
                }
                else {
                    $("#Password").attr("type", "password");
                }
            });


            $("form").submit(function (e) {
                $("input[name='Is_Admin_Hidden']").remove();

                // Tambahkan hidden field baru dengan nilai yang tepat
                var isAdmin = $("#Is_Admin").is(":checked");
                $("form").append('<input type="hidden" name="Is_Admin_Hidden" value="' + isAdmin + '">');
            });

            $("form").submit(function (e) {
                if (mode == "Delete") {
                    if (!confirm("Are you sure you want to delete this user?")) {
                        e.preventDefault();
                        return false;
                    }
                }
                if (mode == "Edit" && $("#ChangePassword").is(":checked") && $("#Password").val() == "") {
                    alert("Password must be filled");
                    e.preventDefault();
                    return false;
                }
            });

        });
    </script>

</body>

</html>
